<h2>
 <span class="caption-edit_a">
 <%= link_to "プロフィール編集画面", edit_user_registration_path, id:"new_rooms" %>
 </span>
</h2>

<div class="edit_acount">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table class="edit-register">
  <tr>
    <th><%= f.label :image, "アカウント画像" %><p class="vol">任意</p></th>
    <td><%= f.file_field :image %></td>
  </tr>

   <tr>
    <th><%= f.label :name, "ユーザー名" %><p class="require">必須</p></th>
    <td><%= f.text_field :name, autofocus: true, autocomplete: "ユーザー名",placeholder:"アカウント名",class:"edit_pass" %></td>
   </tr>

  <tr>
    <th><%= f.label :email, "メールアドレス" %><p class="require">必須</p></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス",placeholder:"メールアドレス",class:"edit_pass" %></td>
  </tr>

  <tr>
    <th><%= f.label :introduction, "自己紹介" %><p class="require">必須</p></th>
    <td><%= f.text_area :introduction, autofocus: true, :size => "30 * 20",placeholder:"自己紹介"%></td>
  </tr>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <tr>
    <th><%= f.label :password, "新規パスワード" %><p class="vol">任意</p><br><i>(変更しない場合は空欄)</i></th>
    <td><%= f.password_field :password, autocomplete: "新規パスワード",placeholder:"パスワード" ,class:"edit_pass" %></td>

  </tr>

  <tr>
    <th><%= f.label :password_confirmation, "確認用パスワード" %><p class="vol">任意</p></th>
    <td><%= f.password_field :password_confirmation, autocomplete: "確認用パスワード",placeholder:"確認用パスワード" ,class:"new_pass" %></td>
  </tr>

  </table>
  <ul class="edit_actions">
    <li><%= f.submit "更新" ,id:"submit_register_edit" %></li>
    <li><%= button_to "このアカウントを削除", registration_path(resource_name), data: { confirm: "このアカウントを削除しますか?" }, method: :delete, id:"delete_acount" %></li>
  </ul>
<% end %>

</div>

