<h2>プロフィール編集画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table>
  <tr class="field">
    <th><%= f.label :image, "アカウント画像" %></th>
    <td><%= f.file_field :image %></td>
  </tr>

   <tr class="field">
    <th><%= f.label :name, "ユーザー名" %></th>
    <td><%= f.text_field :name, autofocus: true, autocomplete: "ユーザー名" %></td>
   </tr>

  <tr class="field">
    <th><%= f.label :email, "メールアドレス" %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %></td>
  </tr>

  <tr class="field">
    <th><%= f.label :introduction, "自己紹介" %></th>
    <td><%= f.text_area :introduction, autofocus: true, :size => "30 * 20" %></td>
  </tr>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <tr class="field">
    <th><%= f.label :password, "新しいパスワード" %> <br /><i>(変更しない場合は空欄)</i></th>
    <td><%= f.password_field :password, autocomplete: "新しいパスワード" %></td>

  </tr>

  <tr class="field">
    <th><%= f.label :password_confirmation, "確認用パスワード" %></th>
    <td><%= f.password_field :password_confirmation, autocomplete: "確認用パスワード" %></td>
  </tr>

  </table>
  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>このアカウントを削除</h3>
<p>本当によろしいですか？ <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "このアカウントを削除しますか?" }, method: :delete %></p>

