<h2>予約内容確認</h2>
<%= form_with model: @reservation do |r| %>
 <%= r.label :check_in ,"チェックイン" %>
        <%= r.hidden_field :check_in, :value => params[:check_in] %>
        <%= r.label :check_out ,"チェックアウト" %>
        <%= r.hidden_field :check_out, :value => params[:check_out] %>
        <%= r.label :customer,"人数" %></th>
        <%= r.hidden_field :customer ,:value => params[:customer] %>
		<%= hidden_field :room_id, value: @room.id %>
<% end %>