<h2>
 <span class="caption_index_reserv">
  <%= link_to "予約したルーム一覧", :reservations ,id:"new_rooms" %>
 </span>
</h2>

<div class="box_index_reserv">

<% if flash[:notice] %>
  <div class="flash">
	<%= flash[:notice] %>
  </div>
<% end %>

<table class="index_reserv">
 <div class="page" >
 <%= paginate @reservations %>
 </div>
  <thead>
    <tr>
	  <th>ルーム画像</th>
	  <th>ルーム名</th>
	  <th>ルーム紹介</th>
	  <th>料金</th>
	  <th>チェックイン</th>
	  <th>チェックアウト</th>
	  <th>予約確定日</th>
	</tr>
  </thead>

  <tbody>
    <% @reservations.each do |reserve| %>
	<% if reserve.user_id == current_user.id %>
	<tr>
	  <% if reserve.room.image.present? %>
	  <td><%= link_to image_tag(reserve.room.image.variant(resize:'250x250'), clss: "rooms_icon"), room_path(id: reserve.room_id) %></td>
	<% end %>
	  <td><%= link_to reserve.room.name,room_path(id: reserve.room_id) %></td>
	  <td><%= reserve.room.introduction %></td>
	  <td>¥<%= reserve.room.price %></td>
	  <td><%= reserve.check_in.strftime("%Y年%m月%d日") %></td>
	  <td><%= reserve.check_out.strftime("%Y年%m月%d日") %></td>
	  <td><%= reserve.updated_at.to_s(:datetime_jp) %></td>
	</tr>
<% end %>
<% end %>
  </tbody>
</table>
</div>
