<h2>予約済みルーム一覧</h2>
<div class = "booking">


	  <p>ルーム画像<%= @room.room_image %></p>
	  <p>ルーム名: <%= @room.name %> </p>
	  <p>ルーム紹介: <%= @room.introduction %></p>
	  <p>料金: <%= @reservation.total_amount %></p>
	  <p>チェックイン: <%= @reservation.check_in %> </p>
	  <p>チェックアウト: <%= @reservation.check_out %> </p>
</div>
