<h2>検索結果 : <span><%= Room.where('address LIKE ?', "%#{params[:address]}%").count %></span>件</h2>

<% @rooms.each do |room| %>
<div class="result">
   <!-- <td><%= room.room_image %></td>-->
    <h3><%= room.name %></h3>
    <p><%= room.address %></p>
    <p>¥ <%= room.price %></p>
</div>
<% end %>