<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class ="header">
    <div class="header-logo">
      <a href= "/">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="ヘッダーのロゴ">
      </a>
     <div class="area_search">
      <%= form_with url: search_rooms_path, method: :get, local: true do |s| %>
       <%= s.text_field :address,placeholder: "エリア" %>
       <%= s.submit :search %><!-- cssでボタンを非表示 -->
      <% end %>
     </div>
     <div class="keyword">
       <%= form_with url: search_rooms_path, method: :get, local: true do |s| %>
        <%= s.text_field :address,placeholder: "キーワード" %>
        <%= s.submit :search %><!-- cssでボタンを非表示 -->
       <% end %>
     </div>
    </div>

    <div class= "header_menu">
    <% if user_signed_in? %>
      <div class="header_user"><%= @user.name%>
       <% if @user.image.present? %>
	     <%= image_tag @user.image.variant(resize:'50x50'), clss: "user_icon" %>
     <% end %>
    </div>


    <ul class="menus">
      <li><%= link_to "部屋を登録", :new_room %></li>
      <li> <%= link_to "登録した部屋一覧", :rooms %></li>
      <li><%= link_to "予約済み一覧", :reservations %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "ユーザー詳細", "/users/show" %></li>
    </ul>
    <% else %>
      <ul class="menus">
      <li><%= link_to "ログイン", "/users/sign_in" %></li>
      <li><%= link_to "新規登録", "/users/sign_up" %></li>
    </ul>
    <% end %>
    </div>


  </header>
    <%= yield %>

  <footer>
    <div clss="footer-image">
      <p>© 2020 POTEPAN.INC.</p>
    </div>
  </footer>
  </body>
</html>
